.projectsBlock {
    min-height: 100vh;
    --tw-bg-opacity: 1;
    background-color: rgb(22 22 22 / var(--tw-bg-opacity));
}

.title {
    width: 350px;
    font-size: 50px;
    font-weight: 600;
    color: #b23f4a;
    margin:auto;
}

.projects {
    width: 90%;
    margin:auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Дальше разработка под мобильные устройстава*/

/* iPhone 12, 12 Pro, 13, 13 Pro (портретный режим) */
@media  screen and (orientation: portrait) and (min-device-width: 390px) and (max-device-height: 844px) {
    .projectsBlock {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .title {
        width: 350px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .projects {
        width: 100%;
    }
}

/* iPhone 12, 12 Pro, 13, 13 Pro (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 390px) and (max-device-height: 844px) {

}

