.skillsBlock {
    min-height: 100vh;
    --tw-bg-opacity: 1;
    background: linear-gradient(0deg, rgba(24,25,30,1) 0%, rgba(22,22,23,1) 100%);    /*background-image: url(testimonial-image.png);*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/

}

@media screen and (max-width: 1030px) {
    .skillsBlock {
        min-height: 100vh;
        --tw-bg-opacity: 1;
        /*background-color: rgba(24 25 29 );*/
        background: linear-gradient(0deg, rgba(24,25,30,1) 0%, rgba(22,22,23,1) 100%);    /*background-image: url(testimonial-image.png);*/
        background-size: contain;
    }
}

.container {
    /*border: 1px solid;*/
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    /*justify-content: flex-start;*/
}

.title {
    font-size: 50px;
    font-weight: 600;
    color: #b23f4a;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
