.header {
    display: flex;
    justify-content: space-between;
    min-height: 54px;
    height: 80px;
    /*--tw-bg-opacity:1;*/
    /*background-color: rgb(24 25 29 / var( --tw-bg-opacity));*/
    position: absolute;
    /*opacity: 0.1;*/
    width: 100%;
}

.personalData{
    /*background-color: #9a5151;*/
    width: 550px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    margin: 0 6.5%;
    font: italic  all-petite-caps bold 16px/2   Arial;
    font-size: 0.975rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    /*background-color: #3576a6;*/
}