.switchButton {margin-bottom: 25px;
    width: 60px;
    height: 60px;
    background-image: url(some.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    border-radius: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(35 38 47 / var(--tw-bg-opacity));
}