.switch {
    /*background-color: #605d5d;*/
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #2e313b;*/
    /*color: #fdfdfe;*/
    font-size: 18px;
    margin-bottom: 25px;
}

.switchButton {
    width: 60px;
    height: 60px;
    background-image: url(https://www.svgrepo.com/show/226546/music-music-and-multimedia.svg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(35 38 47 / var(--tw-bg-opacity));
}