.switch {
    /*background-color: #605d5d;*/
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #2e313b;*/
    /*color: #fdfdfe;*/
    font-size: 18px;
    margin-bottom: 25px;
}

.switchButton {

    width: 60px;
    height: 60px;
    /*color: #fdfdfe;*/
    background-image: url(https://www.svgrepo.com/show/226546/music-music-and-multimedia.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*background-color: #756f6f;*/
    background-size: cover;
    background-position: center;
cursor: pointer;
}