.skill{
    width: 300px;
    min-height: 200px;
    background-color: #0e3c5a;
}


.icon{
width: 200px;
    height: 200px;
    background-color: #3a3f62;
    margin: auto;
}

.title{

}

.description{

}