.colorCustomButton {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    background-color: #d79228;
    width: 45px;
    margin: 1em;
}

.unColorCustomButton {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    --tw-bg-opacity: 1;
    background-color: rgb(35 38 47 / var(--tw-bg-opacity));
    width: 45px;
    margin: 1em;
}