.skillsBlock {
    height: 100vh;
    background-color: #a9aecc;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #8fcb5d;
}

.skills {
    border: 1px solid;
    width: 100%;
    background-color: #899d49;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
