.skillsBlock {
    height: 100vh;
    background-color: #a9aecc;
}

.title {
    background-color: #8fcb5d;
}

.skillsContainer {
    flex-direction: column;
    justify-content: center;
}

.skills {
    border: 1px solid;
    width: 100%;
    min-height: 300px;
    background-color: #774e4e;
    display: flex;
    justify-content: space-around;
}
