.skillsBlock {
    min-height: 100vh;
    --tw-bg-opacity: 1;
    background-color: rgb(22 22 22 / var(--tw-bg-opacity));
    /*background-image: url(testimonial-image.png);*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.skills {
    margin-left: 30px;
    /*border: 1px solid;*/
    width: 100%;
    /*background-color: #606b42;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
