.main {
    height: 100vh;
    background-color: #a19696;
}

.text {
    width: 300px;
    background-color: #c9c0c0;
}

.photo {
    background-color: #595555;
    width: 250px;
    height: 300px;
}

.photo img {
    background-color: #595555;
    width: 100%;
    height: 100%;
}