.error404 {
    width: 551px;
    /*width: 100%;*/
    min-height: 100vh;

}

.wrapper {
    align-items: center;
    display: flex;
    height: calc(100vh);
    justify-content: center;
    background-color: #e4e7e7;
}
