.contacts {
    --tw-bg-opacity: 1;
    background: linear-gradient(0deg, rgba(24,25,30,1) 0%, rgba(22,22,23,1) 100%);
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contactsForm {
    width: 50%;
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.miniLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
}

.footerText {
    font-size: 20px;
    width: 250px;
    color: #b23f4a;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* iPhone 12, 12 Pro, 13, 13 Pro (портретный режим) */
@media  screen and (orientation: portrait) and (min-device-width: 390px) and (max-device-height: 844px) {
    .contacts{
        background: linear-gradient(0deg, rgba(69, 74, 107) 5%, rgb(22,22,23,1) 65%);
    }

    .contactsForm{
        width: 100%;
    }
}

/* iPhone 12, 12 Pro, 13, 13 Pro (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 390px) and (max-device-height: 844px) {
    .contacts{
        background: linear-gradient(0deg, rgba(69, 74, 107) 5%, rgb(22,22,23,1) 65%);
    }

    .contactsForm{
        width: 75%;
    }
}