.skill {
    width: 400px; /* Хочу размеры больше, пофиксим мед-запросами*/
    background-color: #0e3c5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px 5px 5px 5px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: #3a3f62;
    background-size: cover;
    background-position: center;
}


.title {
    background-color: #b08585;
}

.description {
    background-color: #966262;
    padding: 5px;
}

.projectButton {
    width: 150px;
    border-radius: 25px;
}