ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav {
    /*z-index: 5;*/
    /*margin-top: -80px;*/
    display: flex;
    justify-content: space-evenly;
    /*margin-right: 5px;*/
    width: 80px;
    height: 100vh;
    position: fixed;
    border-right-width: 1px;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    --tw-border-opacity: 0.05;
    --tw-bg-opacity: 1;
    background-color: rgb(35 38 47 / var(--tw-bg-opacity));
}

.nav img{
    width: 60px;
    height: 60px;
}



.navLiLogo{
    background-color: #d79228;
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3a3737;
}

.navLi{
    background-color: #605d5d;
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3a3737;
}


.navLi a{
    text-decoration:none;
    color: white;
}


