ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav {
    /*z-index: 5;*/
    /*margin-top: -80px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin-right: 5px;*/
    width: 85px;
    height: 100vh;
    position: fixed;
    border-right-width: 1px;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    --tw-border-opacity: 0.05;
    --tw-bg-opacity: 1;
    background-color: rgb(35 38 47 / var(--tw-bg-opacity));
}

@media screen and (max-width: 720px) {
    .nav {
        display: none;
    }
}

.nav img{
    width: 60px;
    height: 60px;
}



.navLiLogo{
    background-color: #b23f4a;
    width: 85px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #3a3737;*/
    cursor: pointer;
    color:#666;
    /*background-image: linear-gradient(to right, #feffff, #a0d8ef); !* Параметры градиента *!*/
    /*background-repeat: no-repeat; !* Фон не повторяется *!*/
    /*background-size: 0 100%; !* Градиент пока не показываем *!*/
    /*border: 1px solid #3a3737; !* Параметры рамки *!*/
    /*border-radius: 4px; !* Радиус скругления углов *!*/
    /*text-decoration: none; !* Убираем подчёркивание *!*/
    /*padding: 5px 15px; !* Расстояние от *!*/
    /*transition: 0.4s; !* Время перехода *!*/
}
.navLiLogo:hover{
    background-size: 100% 100%;
}

.navItem{
    /*background-color: #605d5d;*/
    width: 85px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e313b;
    color: #fdfdfe;
    font-size: 18px;
    cursor: pointer;

}

.navItem :hover{
    color: #2B5B9DFF;
}

.navItem > .active {
    /*border-bottom: 1px solid #ffffff;*/
    color: #2B5B9DFF;
}


/*.navLi a{*/
/*    text-decoration:none;*/
/*    color: #fd9202;*/
/*}*/


