.skillsBlock {
    min-height: 100vh;
    --tw-bg-opacity: 1;
    background-color: rgb(20 20 22 / var(--tw-bg-opacity));
    /*background-image: url(testimonial-image.png);*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/

}

@media screen and (max-width: 1030px) {
    .skillsBlock {
        min-height: 100vh;
        --tw-bg-opacity: 1;
        background-color: rgba(24 25 29 );
        background-image: url(testimonial-image.png);
        background-size: contain;
        background-repeat: repeat;
    }
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
